<h1>Ottersearch</h1>
<%= form_with do |f| %>
  <h3>Enter tag(s):</h3><%= f.text_field :tags %>
  <%= f.submit 'Go!' %>
<% end %><br><br>
<% @photos.each do |p| %>
  <%= image_tag p, class: "img-responsive" %>
<% end %>
